<%- include('includes/head.ejs') %>
<script>
    function minimum8(){

        document.getElementById("button").style.display = "none";
        // document.getElementById("error").innerHTML = '';
        document.getElementById("error").style.display = "none";

        if(document.getElementById("password1").value.trim().length < 8){
            document.getElementById("error").innerHTML = "should contain minimum 8 characters.";
            document.getElementById("error").style.display = "block";
        }

    };

    var matching = function()
    {
        // console.log("in matching");
        document.getElementById("button").style.display = "none";
        if (document.getElementById("password1").value.trim() !== document.getElementById("password2").value.trim()) {
            document.getElementById("error").style.display = "block";
            document.getElementById("error").innerText = "passwords don't match, please correct them.";
        }
        else{
            document.getElementById("button").style.display = "block";
            document.getElementById("error").style.display = "none";
        }
    }

</script>

</head>


<body>
<div class="container">

    <div class="col-12 col-md-5">
        <h4>Hi, please choose a password</h4>
        <form method="POST">
            <div class="form-group">
                <label for="password1">Enter password:</label>
                <input type="password" class="form-control" id="password1" name="password1" onchange="minimum8()" required>
                <small class="form-text text-muted">should contain at least 8 characters.</small>
            </div>

            <div class="form-group">
                <label for="password2">Re enter your password:</label>
                <input type="password" class="form-control" id="password2" name="password2" required onchange="matching()">
                <small class="form-text text-muted">should be exactly the same password.</small>
            </div>
            <div class="alert alert-danger" role="alert" id="error" style="display: none">
            </div>
            <button type="submit" class="btn btn-primary" id="button" style="display: none">Submit</button>

        </form>
    </div>
</div>
</body>
</html>